#my-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#title-container {
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 10px;
  background: slategrey;
  padding: 15px;
  border-radius: 10px;
}

h1, h3  {
  margin: 0;
}

.leaflet-fade-anim .leaflet-popup {
  transition: none;
}

#legend {
  float: right;
  z-index: 1000;
  background: #slategrey;
  padding: 12px;
  border-radius: 10px;
}

.colorBox {
  height: 10px;
  width: 10px;
  float: left;
  margin: 3px 4px 0 0;
}
